.Carousel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  &__track {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
